.btn__result {
    border: 1px solid rgb(0, 165, 177);
    border-radius: 2.5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 165, 177);
    margin: 5px 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .15s;
    outline: none;
}

.btn__result:hover {
    background-color: rgb(0, 165, 177);
    color: rgb(255, 255, 255);
    transition: .3s;
}

.list {
    max-width: 300px;
    margin: 16px auto;
    font-size: 1.2rem;
    cursor: default;
}

.list__item {
    cursor: pointer;
}

.list__item:not(:last-child) {
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
